--self insert
--wrapcollections before-first
--wraparguments before-first
--wrapparameters before-first
--header strip
--ifdef no-indent
--enable wrapSwitchCases
--enable redundantOptionalBinding
--swiftversion 5.7
